.env
.env.prod
Material/
.vscode

database/
db/data/
db/init/backup.sql.gz

wordpress/wp-content
wordpress/wp-content
wordpress/wp-content

certs/

# Logs
*.log

# OS / editor junk
.DS_Store
Thumbs.db
